.Ok-page {
  border-radius: 1rem;
  border-style: solid;
  background-color: white;
  position: fixed;
  bottom: 5vh;
  padding: 1rem;
}

.Ok-accept {
  border-radius: 1rem;
  background-color: blue;
}

.Ok-reject {
  border-radius: 1rem;
  background-color: red;
}