.My-chat {
  margin-top: 1rem;
  font-size: large;
}

.My-chat-list {
  overflow: auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 38vh;
}

@media (max-height: 800px) {
  .My-chat-list {
    overflow: auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 25vh;
  }
}