.Top-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}

.Top-profile {
  grid-column-start: 9;
  grid-column-end: 13;
  display: flex;
  justify-content: space-around;
}

.Top-profile .profilePhoto {
  width: 10%;
  border-radius: 50%;
}