.Face {
  display: flex;
  justify-content: center;
  position: relative;
}

.Face-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.Emoji-on {
  border-radius: 50%;
  position: absolute;
}

.Emoji-off {
  display: none;
}