@media (max-width: 2500px){
  #header {
    color: gray;
    height: 90px;
    background-color: #ffe0d7;
    padding: 0 7px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999999;
    min-width: 100% !important;
    /* border: solid; */
    border-radius: 30px;
  }
}
@media (max-width: 1200px){
  #header {
    color: #ffffff;
    height: 70px;
    background-color: #ffe0d7;
    padding: 0 7px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999999;
    min-width: 100% !important;

  }
}


  .toolbar{
    padding: 0 !important;
  }
  .buttonsContent{
    height: 40px !important;
    text-align: center;
    /* margin: 0 auto 0; */
    width: inherit;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    

  }
  #navButtons {
    
    position: absolute;
    left: 0;
    right: 0;
    min-width: 400px;
    font-size: 16px;
    
  }
  
  #header .outButton{
    margin-top: 0.5rem;
    grid-column-start: 1;
    color: #FF805B;
    font-weight: 900;
  }

  #header .roomName{
    grid-column-start: 2;
    margin-top: 10px;
  } 
  #header .whasangButton{
    grid-column-start: 3;
  }

  #header .muteButton{
    grid-column-start: 4;

  }
  #header .chatButton{
    grid-column-start: 11;
    margin-left: 5rem;

  }
@media (max-width: 2500px){
  .outFont{
    font-size: 14px;
  }
  .font{
    font-size: 12px;
  }
  #session-title{
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
  }

}
@media (max-width: 1200px){
  .outFont{
    display: none;
  }
  .font{
    display: none;
  }
  #session-title{
    font-family: 'Open Sans', sans-serif; 
    display: none;
  }
}

  
  .headerLight{
    color: #706969 !important;
    background-color: #eeeeee !important;
  }
  
  #navSessionInfo {
    position: absolute;
  }


  
  #titleContent{
    max-width: 100px;
    /* background-color: #494949; */

    padding: 0px 15px;
    font-size: 16px;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    margin-top: 20px;
  }
  
  .titleContentLight{
    background-color: #dfdfdf !important; 
    color: #000;
  }
  
  #header_img {
    max-width: 135px;
    margin-right: 10px;
    margin-top: 10px;
  }




#point{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
  z-index: 99999;
}
.pointLight{
  border: 1px solid #ffffff !important;
}


@media only screen and (max-width: 700px) {
  #titleContent, #navChatButton {
      display: none;
  }
}
