.Search-chat {
  margin-bottom: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.Search-type {
  width: 120px;
  height: 100%;
}

.Search-content {
  display: flex;
  position: relative;
}

.Search-input {
  width: 40vw;
}

.Search-word-list {
  position: absolute;
  top: 40px;
}

.Search-cancel-on {
  transform: translate(-200%, 0%);
  align-items: center;
}

.Search-cancel-off {
  transform: translate(-200%, 0%);
  align-items: center;
  color: white;
  display: hidden;
  pointer-events: none;
}

.Search-refresh {
  color: white;
  border-radius: 1rem;
  border-style: none;
  background-color: #ffe0d7;
  padding: 0.5rem 1rem;
}

.Search-refresh:hover {
  background-color: #ff805b;
}