.SpendingOfMonthpage {
  height: 85%;
  width: 100%;  
  background-color: white;
  border-radius: 2rem;
  text-align: center;
} 

.SpendingOfMonthHeader {
  padding: 1rem;
}

.filter {
  text-align: center;
}

.redColor {
  color: red;
}

.overflowFrame {
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow: auto;
}

@media (max-height: 850px) {
  .overflowFrame {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: auto;
  }
}