.PasswordFind{
    margin: 120px;
}
.PasswordFind .card {
  width: 100%;
  height: 600px;
  padding-top: 45px;
  flex-direction: row;
  margin: 0 auto;
}
.PasswordFind .card{
border-radius: 5%;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.PasswordFind .logoImg{
    position:absolute;
    left: 30px;
    top: 20px;
}
.PasswordFind ul,
.PasswordFind li {
  list-style: none;
}
.PasswordFind a {
  text-decoration: none;
  color: inherit;
}        
.PasswordFind .register{
            width: 800px;
            margin: 0 auto;
            padding: 15px 20px;
            background: white;
            color: #2b2e4a;
            font-size: 19px;
            text-align: left;

            /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
}
.register h4{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}
.register input{
    width: 80%;
    height: 40px;
    outline: none;
    padding: 10px;
    border: 1px solid #707070;
    transition: 0.3s;
    margin-left: 20px;
}
/* .register input:valid, .register input:focus{
    border: 1px solid #2b2e4a;
} */
.register .center{
    display: flex;
    align-items: center;
    width: 150px;
    margin-top: 10px;
}
.register .flex{
    display: flex;
    flex-direction: column;
}
.register .flex .PasswordContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 10px;
}
.register .flex .PasswordContainer .item:first-child{
    margin-right: 10px;
    margin-bottom: 20px;
}
.register .flex .PasswordContainer .item .idcheck{
    height: 100%;
    margin-left: 10px;
    padding: 5px 15px;
    background: #2b2e4a;
    border: 1px solid #2b2e4a;
    color: white;
    font-size: 12px;
    transition: 0.3s;
}
.register .flex .PasswordContainer .item .idcheck:hover{
    background: white;
    color: #2b2e4a;
}
.register .flex .PasswordContainer .item select{
    height: 40px;
    padding: 10px;
    border: 1px solid #2b2e4a;
}
.register .submit{
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 15%;
    margin-left: 15px;
    border: 1px solid #FF805B;
    background: #FF805B;
    transition: 0.3s;
}
.register .flex .PasswordContainer:last-child{
    margin: 0;
}
.register .submit:hover{
    width: 120px;
    height: 40px;
    border: none;
    border: 1px solid #FF805B;
    color: #FF805B;
    background: white;
}
.register .emailInput{
    background-color: #FFF9F8;
    border: none;
}
.register .sucessEmailButton{
    border: solid #2b2e4a 0.5px;
    
    border-radius: 5%;
}
.register .correctEmail{
    margin-left: 1.5rem;
}
.register .numInput{
    border: none;
    background-color: #FFF9F8;
    width: 200px;
    margin-left: 50px;
}
.register .confirm{
    margin-left: 100px;
}
.register .passwordChange{
    margin-top: 50px;
    justify-self: center;
}
.register .back{
    text-decoration-line: none;
    color: #FF805B;
}
.register .back:hover{
    text-decoration-line: none;
    color: #2b2e4a;
}