@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.PasswordFind-page{
    height: 100vh;
    padding: 5rem;
    background-color: #ffe0d7;
}
.PasswordFind{
    font-family: 'Jua', sans-serif;
    height: 100%;
    border-radius: 2rem;
    background-color: white;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.Password-logo{
    width: 30vw;
    height: 30vw;
}
.PasswordFind-h4{
    margin-bottom: 1rem;
}
.PasswordFind-content{
    display: flex;
    flex-direction: column;
}
.PasswordFind-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.PasswordFind-form-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.PasswordFind-form-item-label{
    width: 100px;
}

.PasswordFind-form-itme-input {
    background-color: #ffe0d7;
    border-radius: 1rem;
    border-style: none;
    padding: 0rem 1rem;
    height: 40px;
  }

.PasswordFind-form-itme-input:focus{
    outline-color: #ff805b;
}

.PasswordFind-form-item-button {
    color: white;
    background-color: #ff805b;
    border-radius: 1rem;
    border-style: none;
    padding: 0rem 1rem;
    height: 40px;
  }


  .PasswordFind-form-item-okay-button {
    color: white;
    background-color: #ff805b;
    border-radius: 1rem;
    border-style: none;
    padding: 0rem 1rem;
    height: 40px;
    width: 60%;
    margin: auto;
  }



.back{
    margin-top: 2rem;
    text-decoration-line: none;
    color: #FF805B;
    text-align: center;
}
.back:hover{
    margin-top: 2rem;

    text-decoration-line: none;
    color: #2b2e4a;
    text-align: center;

}