.Petpage {
    height: 85%;
    width: 100%;  
    background-color: white;
    border-radius: 2rem;
    font-weight: bold;
  } 

td {
    border: none !important;
    text-align: left;
    width: 50%; 
 }

ul {
    list-style: none;
}

.no-left-padding {
    padding-left: 0
}

.petImage {
    border-radius: 6px;
    width: 300px;
    height: 400px;
}

.petImg-change-button{
    width: 300px;
    height: 40px;
    padding: 6px 25px;
    background-color:#ff8767;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.create-pet {
    width: 300px;
    height: 40px;
    padding: 6px 25px;
    border-radius: 6px;
}

.update-pet {
    width: 150px;
    height: 40px;
    padding: 6px 25px;
    border-radius: 6px;
}

.fix-div-height {
    height: 540px;
}