.Petpage {
  width: 100%;  
  background-color: white;
  border-radius: 2rem;
  display: flex;
  padding: 2rem;
  gap: 5vw;
}

.Petpage-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Petpage-img {
  border-radius: 1rem;
  width: 20vw;
  max-height: 40vh;
}

.Petpage-img-choice {
  margin-top: 1rem;
  background-color: #ff805b;
  color: white;
  width: 100%;
  border-radius: 1rem;
  border-style: none;
  padding: 1rem;
  text-align: center;
}

.Petpage-img-choice:hover {
  cursor: pointer;
}

.Petpage-right {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 3vh;
  padding-top: 3px;
}

.Petpage-right::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

@media (max-height: 800px) {
  .Petpage-right {
    height: 400px;
  }
  
}

@media (max-height: 750px) {
  .Petpage-right {
    height: 380px;
  }
}

@media (max-height: 660px) {
  .Petpage-right {
    height: 250px;
  }
}

.Petpage-item {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.Petpage-item-tag {
  width: 10vw;
}

.Petpage-item-value {
  width: 20vw;
}

.Petpage-button-list {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-right: 1rem;
}

.Petpage-button-none {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #ff805b;
}

.Petpage-button-none:hover {
  cursor: default;
}

.Petpage-button {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #ff805b;
}

.Petpage-button:hover {
  background-color: #ffe0d7;
}
